<div id="<%= dom_id invoice %>">
  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Paid amount:</strong>
    <%= invoice.paid_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
